#menuBG{
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu{
    width: 670px;
    height: 200px;
}

#totalPrice{
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left{
    width: 200px;
    height: 200px;
    float: left;
    padding-left: 70px;
}

.center{
    width: 200px;
    height: 200px;
    float: left;
}

.right{
    width: 200px;
    height: 200px;
    float: right;
}

#showText{
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart{
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder{
    margin: 10px 0px 0px 41%;
    width: 100px;
    height: 40px;
}

body{
    background-color: cornflowerblue;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color:rgb(41, 41, 41);
    text-align: center;
}

h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: rgb(43, 43, 43);
}

div{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    color: rgb(92, 92, 92);
}